body {
  background-color: #1b0523;
}

.terminal-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
  font-family: monospace;
  background-color: #1E1E1E;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.terminal-body {
  flex-grow: 1;
  color: #0F0;
  padding: 20px;
  cursor: text;
  overflow-y: auto;
}

.input {
  background: none;
  border: none;
  color: limegreen;
  font-size: 16px;
  outline: none;
  width: 100%;
}

.input.password {
  color: transparent;
}

.prompt {
  color: #0F0;
  margin-right: 8px;
}

.terminal-input-line {
  display: flex;
  align-items: center;
}

.terminal-line.system {
  color: #7CF;
}

.terminal-line.output {
  color: #0F0;
}

.terminal-line.command {
  color: #FFF;
}

pre {
  margin: 0;
  white-space: pre-wrap;
  word-break: normal;
  overflow-wrap: break-word; 
}

.terminal-table {
  width: 100%;
  border-collapse: collapse;
}

.terminal-table td, .terminal-table th {
  border: 1px solid #0F0;
  padding: 8px;
  text-align: left;
}

.terminal-table a {
  color: inherit;
  text-decoration: none;
  display: contents
}

.terminal-table-link:hover {
  background-color: rgba(0, 255, 0, 0.2);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  padding: 8px 16px;
  height: 20px;
  cursor: default
}

.header:active {
  cursor: move;
}

.header-title {
  color: #0F0;
  cursor: inherit;
}

.buttons {
  display: flex;
  gap: 8px;
}

.button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.red { background-color: #FF5F56; }
.yellow { background-color: #FFBD2E; }
.green { background-color: #27C93F; }

hr {
  color: #FFF;
}

.phone-container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding: 20px;
}

.phone-body {
  position: relative;
  width: 360px;
  height: 780px;
  background-color: #2d3748;
  border-radius: 30px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.phone-screen {
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  background-color: #000;
  border-radius: 26px;
  overflow: hidden;
}

.status-bar {
  height: 24px;
  box-sizing: border-box;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 16px;
  color: white;
  font-size: 12px;
}

.status-icons {
  display: flex;
  gap: 8px;
}

.camera-cutout {
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translateX(-50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #000;
  border: 1px solid #555;
  z-index: 10;
}

.camera-lens {
  width: 4px;
  height: 4px;
  margin: 1px;
  border-radius: 50%;
  background-color: #444;
}

.content-area {
  position: absolute;
  top: 24px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  overflow: hidden;
}

.content-iframe {
  width: 100%;
  height: 100%;
  border: none;
}
